
<!-- CATEGORIES -->
<main>

<!-- MY EVENTS IMAGE -->
  <section class="module parallax parallax-5">
      <div class="container-fluid">
        <h1>MY EVENTS</h1>
      </div>
  </section>

<!-- MY EVENTS THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Remove</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Remove</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Remove</a> 
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- POPULAR IMAGE AND TEXT -->
  <section class="module parallax parallax-6">
    <div class="container-fluid">
      <h1>POPULAR</h1>
    </div>
  </section>

<!-- POPULAR THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Remove</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Remove</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Remove</a> 
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>