<!-- <input type="text" id="query" ng-model="query"></input>
<p>{{query}}</p>
<button ng-click="redirect(query)">Query #1</button> <br>
<div id="map" style="height:300px"></div>
 -->


<!-- CATEGORIES -->
<main>
    <div class='input-group' id='search-box'>
        <form ng-submit="queueSearch(query)" id='eventSearch'>
          <label for="eventName"></label>
            <input type="text" id='eventName' name="eventName" placeholder=" Search..." ng-model="query" required >
            <input type="submit" class="fa fa-search" value= '&#xf002' id='searchBtn'><span ng-show='loading'>
            <i class="fa fa-spinner fa-pulse fa-lg"></i>
            </span>
        </form>
        <div id="q-results" class="results"></div>
    </div>

<!-- MUSIC IAMGE AND TEXT -->    
  <section class="module parallax parallax-1">
    <div class="container-fluid">
      <h1>MUSIC</h1>
    </div>
  </section>

<!-- MUSIC THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- FOOD IMAGE AND TEXT -->
  <section class="module parallax parallax-2">
    <div class="container-fluid">
      <h1>FOOD</h1>
    </div>
  </section>

<!-- FOOD THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- SPORTS IMAGE AND TEXT -->
  <section class="module parallax parallax-3">
    <div class="container-fluid">
      <h1>SPORTS</h1>
    </div>
  </section>

<!-- SPORTS THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4">
          <div class="thumbnail">
              <img src="https://unsplash.it/400/300/?random" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'>Thumbnail Label</h4>
                <p>...</p>
                <p>
                  <a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>