<!-- CATEGORIES -->
<main>
    <div class='input-group' id='search-box'>
        <form ng-submit="queueSearch(query)" id='eventSearch'>
          <label for="eventName"></label>
            <input type="text" id='eventName' name="eventName" placeholder=" Search..." ng-model="query" required >
            <input type="submit" class="fa fa-search" value= '&#xf002' id='searchBtn'>
        </form>
        <div id="q-results" class="results"></div>
    </div>
<!-- MUSIC IAMGE AND TEXT -->    
  <section class="module parallax parallax-1">
    <div class="container-fluid">
      <h1>MUSIC</h1>
    </div>
  </section>

<!-- MUSIC THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div ng-repeat="m in musicArr track by $index" class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img ng-src="{{m.img}}" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'><b>{{m.title}}<b></h4>
                <p>{{m.description | limitTo: 300}}...</p>
                <div class="col-md-6">
                  <a href="#" class="btn btn-primary form-control" role="button">Save</a> 
                </div>
                <div class="col-md-6">
                  <a href="/event/{{id:}}" class="btn btn-primary form-control" role="button">view event</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- FOOD IMAGE AND TEXT -->
  <section class="module parallax parallax-2">
    <div class="container-fluid">
      <h1>FOOD</h1>
    </div>
  </section>

<!-- FOOD THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div ng-repeat="m in foodArr track by $index" class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img ng-src="{{m.img}}" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'><b>{{m.name}}</b></h4>
                <p>{{m.description | limitTo: 300}}...</p>
                <p>
                  <a href="#" class="btn btn-primary form-control" role="button">Save</a> 
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- SPORTS IMAGE AND TEXT -->
  <section class="module parallax parallax-3">
    <div class="container-fluid">
      <h1>SPORTS</h1>
    </div>
  </section>

<!-- SPORTS THUMBNAILS -->
  <section class="module content">
    <div class="container-fluid">
      <div class="row" id='musicCategory'>
        <div ng-repeat="m in sportsArr track by $index" class="col-sm-3 col-md-4">
          <div class="thumbnail">
            <img ng-src="{{m.img}}" alt="...">
              <div class="caption">
                <h4 id='thumbnailLabel'><b>{{m.title}}</b></h4>
                <p>{{m.description | limitTo: 300}}...</p>
                <p>
                  <a href="#" class="btn btn-primary form-control" role="button">Save</a>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>