<!-- <input type="text" id="query" ng-model="query"></input>
<p>{{query}}</p>
<button ng-click="redirect(query)">Query #1</button> <br>
<div id="map" style="height:300px"></div>
 -->
 <!DOCTYPE html>
<html ng-app="eventTracker">
<head>
	<title>Epic Events</title>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Css Page -->
	<link rel="stylesheet" href="../../css/style.css">
</head>

<body>
<!-- HEADER -->
	<nav class="navbar navbar-inverse" id='navbar'>
  		<div class="container">
    		<div class="navbar-header">
     			<a class="navbar-brand" href="#" id='header'>
     			<i class="fa fa-rebel text-primary"></i> Epic Events
     			</a>
    		</div>
      		<ul class="nav navbar-nav navbar-right">
		        <li>
		        	<a href="#" id='loginButton'>Login w/ <i class="fa fa-facebook-square text-primary"></i>
		        	</a>
		        </li>
      		</ul>
  		</div>
	</nav>

<!-- IMAGE -->

	<div class='container' id='displayFormat'>
		<div class="container-fluid">
			<img id='mainImg' src='http://static1.squarespace.com/static/52f3ba1fe4b0932b3f775421/t/530e5fa1e4b07a55c9b3d6ad/1393450915317/Beer+Die+Events.jpg?format=1500w' height='350px'>

		<!-- SEARCH BAR -->
			<div class='input-group' id='search-box'>
		       	<form action="" method="" id='eventSearch'>
		        	<label for="eventName"></label>
		          	<input type="text" id='eventName' name="eventName" placeholder="   Search..." required>
		          	<input type="submit" class="fa fa-search" value= '&#xf002' id='searchBtn'>
		      	</form>
		        <div id="q-results" class="results"></div>
		    </div>
		</div>

	    <!-- CATEGORIES -->

	    <!-- music -->
	    <div class='container'>
	    	<h4 id='musicLabel'> <strong> MUSIC: </strong> </h4>
			    <div class="row" id='musicCategory'>
				  	<div class="col-sm-3 col-md-4">
				    	<div class="thumbnail">
				      		<img src="https://unsplash.it/400/300/?random" alt="...">
				      		<div class="caption">
				        		<h4 id='thumbnailLabel'>Thumbnail Label</h4>
				        		<p>...</p>
				        		<p>
				        			<a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
				        		</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-sm-3 col-md-4">
				    	<div class="thumbnail">
				      		<img src="https://unsplash.it/400/300/?random" alt="...">
				      		<div class="caption">
				        		<h4 id='thumbnailLabel'>Thumbnail Label</h4>
				        		<p>...</p>
				        		<p>
				        			<a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
				        		</p>
				      		</div>
				    	</div>
				  	</div>
				  	<div class="col-sm-3 col-md-4">
				    	<div class="thumbnail">
				      		<img src="https://unsplash.it/400/300/?random" alt="...">
				      		<div class="caption">
				        		<h4 id='thumbnailLabel'>Thumbnail Label</h4>
				        		<p>...</p>
				        		<p>
				        			<a href="#" id='thumbnailBtn' class="btn btn-primary" role="button">Save</a> 
				        		</p>
				      		</div>
				    	</div>
				  	</div>

				</div>


			<!-- sports -->
			<h4 id='sportsLabel'> <strong> SPORTS: </strong></h4>
			    
			<!-- food -->
			<h4 id='foodLabel'><strong> FOOD: </strong></h4>

		</div>
	</div>


<!-- FOOTER -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<p class="navbar-text" id='ourNames'>Cairo, David, Tum, Ana, Miles</p>
		</div>
	</div>

</body>
</html>




