
<!-- BAY BRIDGE IMAGE AND TEXT -->
	<section class="module parallax parallax-4">
    	<div class="container-fluid">
      		<h1>JOIN US</h1>
    	</div>
  	</section>

<!-- SIGN IN PROMPT TEXT -->
    <section class="module content" id='loginSpacing'>
    	<div class="container-fluid">

<!-- FACEBOOK BUTTON -->
			<h3 id='signupLabel'>
				Sign In using Facebook:
			</h3>
			<a href="/auth/facebook" target="_self" id='fbBtn'class="btn btn-primary"><span class="fa fa-facebook"></span>
				Facebook
			</a>
		</div>
  	</section>



