
.navbar {
	border-radius: 0;
	margin: 0;
body{
	background-color: red;
}

.navbar {
	border-radius: 0;
	margin: 0;
}

#displayFormat {
 display: block;
 margin: 0 auto;
};

#header{
	color: white;
}

.navbar-brand{
	font-size: 35px;
}

#loginButton{
	color: white;
	background-color: #93c54b;
	font-size: 15px;
	margin-top: 27%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#logout{
	color: white;
	background-color: #93c54b;
	font-size: 15px;
	margin-top: 40%;
	margin-right: 8%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#mainImg{
	width: 1150px;
}

#navbar{
	margin-bottom: 0px;
}

#search-box{
	margin-top: 20px;
	margin-left: 33%;
	margin-bottom: 2%;	
}

#eventName{
	width: 500px;
	height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}


#musicCategory{
	margin-bottom: 20px;
}


#musicLabel{
	text-align: center;
}

#sportsLabel{
	text-align: center;
}

#foodLabel{
	text-align: center;
}

#myEventsLabel{
	text-align: center;
}

#myEventsCategory{
	margin-bottom: 20px;
}

#thumbnailLabel{
	text-align: center;
}

#thumbnailBtn{
	margin-left: 82%;
	font-size: 9px;
	margin-top: 27%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#removeBtn{
	margin-left: 78%;
	font-size: 9px;
	margin-top: 27%;
	padding-top: 2px;
	padding-bottom: 2px;
}

}

#myEventsCategory{
	margin-bottom: 20px;
}

#thumbnailLabel{
	text-align: center;
}

#thumbnailBtn{
	margin-left: 82%;
	font-size: 9px;
	margin-top: 27%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#removeBtn{
	margin-left: 78%;
	font-size: 9px;
	margin-top: 27%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#popLabel{
	text-align: center;
}


#footer{
	color: white;
	text-align: center;
	height: 1px;
	width: 100%;
}

#ourNames{
	color: white;
}