/*body{
	background-color: red;
}
*/

#header{
	color: white;
	font-size: 35px;
}


#homeButton{
	color: white;
	background-color: #93c54b;
	/*border: 2px solid black;*/
	margin-top: 40%;
	margin-right: 8%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#loginButton{
	color: white;
	background-color: #93c54b;
	/*border: 2px solid black;*/
	margin-top: 40%;
	margin-right: 8%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#signupButton{
	color: white;
	background-color: #93c54b;
	/*border: 2px solid black;*/
	margin-top: 36%;
	padding-top: 2px;
	padding-bottom: 2px;
}

#navButtons{

}



