<!DOCTYPE html>
<html>
<head>
	<title>Epic Events</title>
	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Css Page -->
	<link rel="stylesheet" href="/client/css/main.css">
</head>
<body>


	<script type="text/javascript" src="/client/app.js"></script>
	<script type="text/javascript" src="/client/controllers.js"></script>
	<script type="text/javascript" src="/client/directives.js"></script>
	<script type="text/javascript" src="/client/filters.js"></script>
	<script type="text/javascript" src="/client/services.js"></script>
</body>
</html>
